.info{
    font-size: 2rem;
}
body{
    width: 900px;
    max-width: 800px;
    display: block;
    color:black;
    margin: auto;
    text-align: center;
    font-family: 'Cabin Sketch', cursive;
    background-color:#56565b;
}

.main{
    width: 650px;
    height: 450px;
    border: solid rgb(192, 192, 192) 1px;
    margin: auto;
    display: flex;
    display: block;
    margin-top: 3rem;
    justify-content:center;
    flex-direction: column;
    gap: 3rem;
    background-color: #3c3c42;
    font-size: 1.5rem;
}
.input{
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 1.5rem;
    gap:3rem
}
select,input{
    padding: 0.5rem 1rem;
    font-size: 1rem;
    font-family: 'Libre Baskerville', serif;
}
.result{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin-top: 2rem;
    font-size: 2.3rem;
}

.choice,.choice1{
    font-family: 'Libre Baskerville', serif;
}
.convert{
    padding: 0.5rem;
    font-size: 1rem;
    color: black;
    font-family: 'Libre Baskerville', serif;
    margin-top: 2rem;
}
 @media (max-width:460px){
    .main{
        width: 750px;
        height: 700px;
        margin-top: 8rem;
        }
    .heading{
        margin-top: 10rem;
        font-size: 3rem;
    }
    .info{
        font-size:2.5rem;
    }
    .input{
        margin-top: 5rem;
        font-size: 2rem;
        gap: 4rem;
    }
    .convert{
        margin-top: 5rem;
        font-size: 1.7rem;
    }
 }